model_list:
  - model_name: Meta-Llama-3-8B-Instruct
    litellm_params:
      model: openai/meta-llama/Meta-Llama-3-8B-Instruct
      api_base: "http://gpumachine01:8000/v1"
      api_key: "sk-1234"
router_settings:
  redis_host: redis
  redis_port: 6379
